FIRECRAWL_API_KEY=fc-YOUR-API-KEY
GEMINI_API_KEY=YOUR-GEMINI-API-KEY
REDIS_URL=https://enhanced-garfish-84901.upstash.io
REDIS_TOKEN=gQAAAAAAAUulAAIncDEzOTUyNzQ1NWJiN2I0NzQ0OTdhY2I3MDY5NWM2YzUzY3AxODQ5MDE
CACHE_EXPIRY_SECONDS=3600
PORT=3000
